<div style="background-color:aqua;">
  <div style="background-color: red;"></div>
</div>




<!--<p matTooltip="sdfsdf">
  dashboard works!
</p>
<button mat-raised-button color="primary" style="min-width:15px; line-height:25px; width:15px; display:flex; justify-content:center;">-->
  <!--<img src="../../../assets/Svgs/cog.png" height="15" width="15" />-->
<!--</button>
<div class="checkbox"
     (click)="onClick()"
     [ngClass]="{'checked': chx == true}">
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': progressBarValue + '%'}"></div>
</div>-->
<!--<div (click)="onAttrCheck()" appAttrCheck [(attrValue)]="attrValue" [attrName]="'aria-expanded'" aria-expanded="false">123456</div>-->
<!--<img class="laser-img" src="../../../assets/Svgs/fire.svg" height="15" width="15" />
<img class="plasma-img" src="../../../assets/Svgs/fire.svg" height="15" width="15" />

<div appCheckbox [(check)]="testbox">CLICK ME!</div>
<p>{{testbox}}</p>

<ngb-timepicker [(ngModel)]="time"></ngb-timepicker>
<hr>
<pre>Selected time: {{time | json}}</pre>

<section class="collection">
  <div class="collection-item" *ngFor="let user of users" (contextmenu)="open($event, user); $event. preventDefault();">
    {{user.name}}
  </div>
</section>
{{version}}
<ng-template #userMenu let-user>
  <section class="user-menu">
    <div (click)="delete(user)">Delete {{user.name}}</div>
    <div>Send to</div>
  </section>
</ng-template>-->
