
<div class="container">
  <mat-card style="margin: auto; width: 25%;">
    <div class="row">
      <div class="col d-flex justify-content-start mb-5">
        <img src="../../../assets/Images/warning_img.jpg" style="width: 45px"/>
        <h4 style="align-self: flex-end;">Strona w budowie</h4>
      </div>
    </div>
    <mat-divider style="width:88%; margin-left:16px"></mat-divider>
    <div class="row">
      <div class="col d-flex justify-content-start mt-3"><button color="primary" mat-raised-button (click)="turnBack()">Wróć</button></div>
    </div>
  </mat-card>
</div>
