::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}
/* Structure */
.books-list-container {
  position: relative;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

tr.row-hover:hover {
  background: #93d9f7;
}
tr.row-hover:active {
  background: #efefef;
}
tr.row-updated {
  background: #b6f793;
}

tr.row-added {
  background: #f79393;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /*background: rgba(0, 0, 0, 0);*/
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 93%;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.books-table {
  width: 100%;
  max-height: 93%;
}

tr.example-detail-row {
  height: 0;
  background-image: linear-gradient(white, whitesmoke);
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.card-detail .card {
  border: none;
}

.mat-cell-detail {
  padding-right: 0px !important;
}


.search-input {
  padding-left: 5rem;
  margin-bottom: -1.25em;
  width: 25rem;
}

.test {
  padding: 5px;
}
